@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}

<div class="jumbotron">
    <h1 style="text-align:center"> Welcome to Find My Tutor</h1>
    <p class="lead" style="text-align:center"><b>Find my tutor</b> is a free platform for tutors and students to connect easily.</p>


</div>



<h2 style="text-align:center" >Why Us?</h2>
<p  style="text-align:center">
    There are plenty of institutes and tuition centres to choose from,
    especially when it comes to online tuition classes as we're living in the Internet era.
    You can check through the reviews and ratings of different tuition centres and tutors available with <b>Find my tutor</b> to find the best one for yourself.
</p>
@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@

<div class="row">
<div class="col-md-4">
    <h2>why we are helpful for tutors? </h2>
    <p>We provide you with a complete business package and easy connection so you can focus on helping students.</p>
    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
</div>
<div class="col-md-4">
    <h2>Finding your child's perfect tutor</h2>
    <p>Looking through tutor profiles from the search results, you can talk in real time to as many tutors as you want to discuss your child's needs.</p>
    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
</div>
</div>