
@{
    ViewBag.Title = "RegisterPage";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="963433840248-r8ln1nk1v541je2egehqj8dnsqqcc9ei.apps.googleusercontent.com" />
    <title>Find My Tutor Application</title>
    <meta name="author" content="">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://epaper.andhrajyothy.com//Content/summit-icon-cr/summit-icon.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
    <link href="https://epaper.andhrajyothy.com//Content/jquery-ui.css" rel="stylesheet" />
    <link href="https://epaper.andhrajyothy.com//Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://epaper.andhrajyothy.com//Content/loginstyle.css">
</head>
<body>
    <section>
        @*<div class="header text-center">
                <header style="font-size: xx-large; color: black;">Findmytutor</header>
            </div>*@
        <div class="content register-top">
            <div class="register-box scrollbar">
                <p class="p_continue">Please Register to Continue</p>
                <div id="divRegistermsg" class="alert alert-success" style="display:none; z-index: 1050; position: relative; padding: 5px 10px; margin: 5px 0;">
                    <strong></strong>
                </div>

                <div class="register-form" id="emailId">
                    <form id="Registerform">
                        <div class="form-input">
                            <input type="text" name="Name" id="Name" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-input">
                            <input type="text" name="Email" id="emailid" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-input number_in">
                            <input id="txtMobileNo" type="text" name="MobileNumber" class="form-control" placeholder="Phone Number" required>
                            <span>+91</span>
                        </div>
                        <div class="form-input">
                            <input type="password" name="Password" id="regpass" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-input">
                            <input id="txtconfrmPassword" type="password" name="confrmPassword" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-input">
                            <input type="text" name="State" id="txtstate" class="form-control" placeholder="State" required />
                        </div>
                        <div class="form-input">
                            <input type="text" name="City" id="txtcity" class="form-control" placeholder="City" required />
                        </div>
                        <div class="form-input">
                            <input type="text" name="Address" id="txtaddress" class="form-control" placeholder="Address" required />
                        </div>
                        <button type="submit" class="lrbtn">Sign Up</button>
                        @*<p class="or">
                                Or
                            </p>*@
                        @*<ul class="social-media">
                                <li><img class="google" src="#" /></li>
                                <li><img src="#" /></li>
                            </ul>*@
                        @*<p class="">Already Have An Account ?.<a href="/Login/LoginPage">Sign In</a></p>*@
                        <p class="">Already Have An Account ?.@Html.ActionLink("Sign In", "LoginPage", "Login", new { area = "" }, new { @class = "" })</p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#loginpagelinkid").addClass("myactive");
            $("#homelinkid").removeClass("myactive");
        });
    </script>
}